html {
  scroll-behavior: smooth;
  scroll-padding-top: 6.4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #303030;
  position: sticky;
  top: 0;
  border-style: none none solid none;
  border-color: #A5D7E8;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.logo {
  margin: 1rem;
  text-decoration: none;
  background-color: #A5D7E8;
  border-radius: 40%;
  overflow: hidden;
}

.logo-img {
  height: 3rem;
}

nav ul {
  display: flex;
}

nav ul li {
 list-style: none; 
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #cfcfcf;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.header button {
  display: none;
  text-decoration: none;
  background: none;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border: none;
}

.header button:hover {
  background-color:#525252;
}

.header button img {
  height: 2.5rem;
}

nav ul li a:hover {
  background-color:#525252;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  html {
    scroll-padding-top: 15rem;
  }

  nav ul {
    display: none;
  }
  
  .header button {
    display: block;
  }
  
  nav {
    align-items: start;
    flex-direction: column;
  }
  
  .responsive {
    display: block;
    padding: 0;
  }

  .responsive li a {
    display: block;
    width: 100vw;
    border-radius: 0;
  }
}
